@{
    ViewData["Title"] = "Nowe zamówienie";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div>
    <text>imię:</text>
    <input id="name" />
</div>
<br />
<div>
    <text>nazwisko:</text>
    <input id="lastName" />
</div>
<br />
<div>
    <text>adres email:</text>
    <input id="email" />
</div>
<br />
<input id="productText" />
<input id="productQuantity" />
<button id="add">Dodaj do zamówienia</button>


<table id="currentProducts">
    <tbody>
        <tr>
            <td>produkt</td>
            <td>ile</td>
        </tr>
    </tbody>
</table>

<br />
<button id="confirm">Zamów</button>
<br />
<label id="confirmation"></label>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $("#currentProducts").data("data", { Products: [] });
        $("#add").click(function () {
            var what = $("#productText").val();
            var quantity = $("#productQuantity").val();
            $('#currentProducts tr:last').after('<tr>' +
                '<td>' +
                what +
                '</td>' +
                '<td>' +
                quantity +
                '</td>' +
                '</tr>');
            $("#currentProducts").data("data").Products.push({ Product: what, Quantity: quantity });
        });

        $("#confirm").click(function () {
            if ($("#currentProducts").data("data").Products.length === 0) return;
            var data = $("#currentProducts").data("data");
            data.Name = $("#name").val();
            data.LastName = $("#lastName").val();
            data.Email = $("#email").val();
            var label = $("#confirmation");
            $.ajax({
                type: "POST",
                url: document.location.href + "Products",
                data: JSON.stringify($("#currentProducts").data("data")),
                contentType: "application/json",
                dataType: "json",
                success: function () {
                    label.html("zamówienie zostało złożone");
                },
                error: function() {
                    label.html("zamówienie nie mogło zostać wysłane");
                }
            });
        });
    </script>
}